target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/archetype-resources/google-services.json
bin/
*.class
*.log
*.ctxt
*.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
.settings/
.project
.classpath
.factorypath
.idea/
*.iml
*.iws
.vscode/
.DS_Store
sources.txt
absolute_sources.txt
startup_log.txt
jar_content/
build.bat
scripts/
